#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

.heading {
  font-size: 24px;
}

.input {
  width: 48px;
  height: 48px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 4px;
  margin: 5px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  transition: border-color 0.15s;
}

.input:focus {
  border-color: #99c8ff;
}

@media (prefers-color-scheme: light) {
  .input:focus {
    border-color: #005fcc;
  }
}
